# Set personal aliases, for a full list of active aliases, run `alias`
alias ..="cd .."
alias ...="cd ..; cd .."
alias dir-type="ls -la --color | awk '{k=0;for(i=0;i<=8;i++)k+=((substr(\$1,i+2,1)~/[rwx]/)*2^(8-i));if(k)printf(\" %0o \",k);print}'"
alias h='history -t'

# sup == system_update
alias sup='sudo apt update && sudo apt upgrade && sudo apt autoremove'
alias update='sudo apt update && sudo apt upgrade && sudo apt autoremove'
# Lsd (https://github.com/Peltoche/lsd)
alias lsd="lsd -h"
alias lsc="lsd -h"

# Diff with VSCODE
alias diff='code --diff '

# Git workflow
alias add='git add -A'
alias status='git status'
alias push='git push -u origin master'
alias pull='git pull'
alias log='git log'

#alias made to improve commands
alias wget='wget -c '
alias tmux='tmux -u'
alias grep='grep  --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn} '
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias dirs='dirs -v'
alias ls='ls -Ch --color=auto --group-directories-first'
alias ll='ls -alF --color=auto --group-directories-first'
alias la='ls -A --group-directories-first'
alias cp="cp -i"
alias df='df -h'

# !Paste the following lines in ".bashrc" or ".zshrc" and uncomment to load these aliases!
## Loads personal aliases, overriding existing ones
#if [ -f ~/.aliases ]; then
#. ~/.aliases
#fi
